<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Mongo NewsScraper</title>
		<meta charset="UTF-8">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<!-- Optional theme -->
		
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	</head>
	<body>	
<script type="text/x-handlebars-template" id="main-template"></script>		
 
<div id="mainBody">
		{{{ body }}}
</div>
		

</script>
 
	 <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
    <script src="/assets/app.js"></script>
	</body>
  <footer class="footer">
    <div class="container center">
      <div class="row justify-content-center">
        <p id="delete">Remove All Articles</p>
        |
        <p id="deleteNotes">Delete All Notes</p>
      </div>
    </div>
  </footer>
</html>
